
body {
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
   
}

#pagina1 {
    width: 65%;
    margin-left: 35%;
    height: 1000px;
    
}


img {
    position: relative;
    top: 200px;
    width: 700px;
}

@media screen and (max-width: 1024px){
    #pagina1 {
        width: 100%;
        height: 1000px;
    }
    img {
        position: relative;
        right: 85px;
        width: 300px;
    }
}